body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
#info1{
    margin-bottom:5px;
}
#info1{
    margin-bottom:5px;
}
#folderContainer{
    display:grid;
    grid-template-columns: 50% 49.5%;
    column-gap: 20px;
    /* align-items: center; */
}
.textToElse{
    padding-top: 3px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
#sp{
    width:80%;
    margin:auto auto;
    display: flex;
}
#sp input{
    width:80%;
    height:70%;
    margin:auto auto;
}
#sp button{
    width:40%;
    margin:1% auto;
}
.folder{
    /* width:40%; */
    margin:10px;
    margin-left: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5px;
    /* grid-row-start: ; */
    /* padding: 5px; */
    background-color: lightblue;
    border-radius: 8px;
}
.note{
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 8px;
    margin:10px;
    display: flex;
    flex-direction: column;
}
.noteElement{
    width:80%;
    margin:4px auto;
}
.note textarea{
    height: 100%;
}
button,input,textarea{
    width: 200px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
button:active{
    border:5px solid black;
    border-radius: 8px;
}
img{
    width:300px;
    height:300px;
    display:none;
}
/* video{
    width:500px;
    height:500px;
    display: block; 
} */